* {
  font-family: 'DM Sans', 'Arvo', serif;
  margin: 0;
  padding: 0;
}

:root {
  /* font-size: 30px; */
  --text-logo-color: #0f2137;
  --text-primary-color: #02073e;
  --background-primary-color: #56bbd0;
  --text-secondary-color: #fff;
}

.container {
  padding: 0px 15%;
}

.bg-1 {
  background-color: cadetblue;
}

.bg-2 {
  background-color: rgb(144, 160, 95);
}

.bg-3 {
  background-color: rgb(160, 95, 139);
}

.bg-4 {
  background-color: rgb(160, 95, 104);
}

.bg-primary {
  background-color: var(--background-primary-color);
}

.icon-primary {
  color: var(--background-primary-color);
}

/* header start */
.header {
  padding-top: 4vh;
  padding-bottom: 2vh;
  display: flex;
}
.menu-header {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 35%;
  text-transform: capitalize;
  padding-top: 2px;
  color: var(--text-primary-color);
}

.logo {
  font-size: 18px;
  margin-right: 6%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--text-logo-color);
}

/* header end */

/* illu start */
.illu {
  background-image: url(./assets/bg.svg);
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
}
/* illu end */

/* jumbotron-1 start */
.jumbotron-1 {
  margin-top: 10vh;
}
.h-1 {
  font-size: 2.7em;
  font-weight: bold;
  font-family: 'Arvo', serif;
  color: var(--text-primary-color);
  width: 50%;
  line-height: 1.2em;
}

.h-2 {
  margin-top: 3vh;
  color: var(--text-primary-color);
  line-height: 2em;
  width: 50%;
}
.box-3 {
  width: 55%;
  margin-top: 4vh;
}
.domain-input {
  color: var(--text-primary-color);
  padding: 18px 12px;

  width: 68%;
  border-radius: 4px;
  border: #9a9cb292 0.5px solid;
}
.domain-input::placeholder {
  color: #566272;
}
.domain-input:focus {
  outline: none;
}
.btn-get {
  padding: 18px 12px;
  color: var(--text-secondary-color);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: var(--background-primary-color);
  width: 25%;
}

.box-4 {
  display: flex;
  width: 60%;
  margin-top: 5vh;
}
.client {
  color: #566272;
  margin-right: 10%;
}
.partner-brand > img {
  margin-right: 25px;
}
/* jumbotron-1 end */
